<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CargoServlet</servlet-name>
        <servlet-class>Controlador.CargoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsorcioServlet</servlet-name>
        <servlet-class>Controlador.ConsorcioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrecuenciaServlet</servlet-name>
        <servlet-class>Controlador.FrecuenciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneroServlet</servlet-name>
        <servlet-class>Controlador.GeneroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RadioServlet</servlet-name>
        <servlet-class>Controlador.RadioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingServlet</servlet-name>
        <servlet-class>Controlador.RatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransmisionServlet</servlet-name>
        <servlet-class>Controlador.TransmisionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Controlador.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramaServlet</servlet-name>
        <servlet-class>Controlador.ProgramaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmisionServlet</servlet-name>
        <servlet-class>Controlador.EmisionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoraServlet</servlet-name>
        <servlet-class>Controlador.ProductoraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProduccionServlet</servlet-name>
        <servlet-class>Controlador.ProduccionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoServlet</servlet-name>
        <servlet-class>Controlador.EmpleadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncuestaServlet</servlet-name>
        <servlet-class>Controlador.EncuestaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargoxempleadoServlet</servlet-name>
        <servlet-class>Controlador.CargoxempleadoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargoServlet</servlet-name>
        <url-pattern>/cargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsorcioServlet</servlet-name>
        <url-pattern>/consorcio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrecuenciaServlet</servlet-name>
        <url-pattern>/frecuencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneroServlet</servlet-name>
        <url-pattern>/genero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RadioServlet</servlet-name>
        <url-pattern>/radio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingServlet</servlet-name>
        <url-pattern>/rating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransmisionServlet</servlet-name>
        <url-pattern>/transmision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramaServlet</servlet-name>
        <url-pattern>/programa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmisionServlet</servlet-name>
        <url-pattern>/emision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoraServlet</servlet-name>
        <url-pattern>/productora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProduccionServlet</servlet-name>
        <url-pattern>/produccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoServlet</servlet-name>
        <url-pattern>/empleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncuestaServlet</servlet-name>
        <url-pattern>/encuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargoxempleadoServlet</servlet-name>
        <url-pattern>/cargoxempleado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
